:root {
  --light-bg-color: #fff;
  --light-bg-color-1: #f2f2f2;
  --primary-color: #333;
  --secondary-color: #777;
  --overlay-color: rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (min-width: 650px) {
  .hide-lg {
    display: none !important;
  }
}

@media (max-width: 649px) {
  .hide-sm {
    display: none !important;
  }
}

body {
  font-family: "Catamaran", sans-serif;
  line-height: 1.6;
  color: var(--primary-color);
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

a.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 2px;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 30px 2rem;
}

.section-header {
  width: 100%;
  font-weight: normal;
  margin-bottom: 30px;
}

.subheading {
  margin-top: -15px;
  margin-bottom: 30px;
}

.section-header.big {
  font-size: 250%;
  font-weight: lighter;
}

nav.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: var(--light-bg-color);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

nav.navbar .container {
  display: flex;
  height: 100%;
  padding: 0px 30px;
  align-content: center;
  align-items: center;
  overflow: visible;
}

nav.navbar .container ul {
  padding-top: 4px;
}

nav.navbar .container i {
  line-height: 0;
}

.logo {
  flex-grow: 1;
  transition: all 0.1s linear;
  font-weight: 100;
}

@media (max-width: 700px) {
  .logo {
    font-size: 95%;
  }
}

.logo a {
  color: var(--primary-color);
}

.nav li {
  display: inline;
  padding: 0.2rem 0.7rem;
  padding-right: 0;
  transition: all 0.1s linear;
}

body.pl .pl {
  display: block !important;
}

body.en .en {
  display: block !important;
}

section.main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 50px;
}

/* SECTION ABOUT */
.section-about {
  padding: 2rem 0;
  background: var(--light-bg-color-1);
}

.section-about .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

@media (max-width: 649px) {
  .section-about .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.section-about .signature {
  display: inline-block;
  font-family: "Sacramento", sans-serif;
  font-size: 30px;
  transform: rotate(-5deg);
  margin-right: 45px;
}

/* Modal */
#modal {
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--overlay-color);
  color: var(--primary-color);
  z-index: 1000;
}

.show-modal #modal {
  display: flex !important;
}

body.show-modal {
  overflow: hidden;
}

#modal .modal-inner {
  position: relative;
  width: 90%;
  width: calc(100% - 30px);
  max-width: 550px;
  padding: 15px;
}

#modal .modal-inner button {
  display: block;
  margin-left: auto;
  margin-right: 2px;
}

#modal .modal-content {
  width: 100%;
  background-color: var(--light-bg-color-1);
  padding: 15px;
  border: 2px solid var(--primary-color);
  max-height: 90vh;
  max-height: calc(100vh - 100px);
  overflow: auto;
}

#modal .modal-content p {
  margin-bottom: 10px;
}

#modal ul {
  list-style: disc;
  margin-left: 10px;
  padding-left: 10px;
}

#modal li {
  font-size: 14px;
}

span.label {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.75 !important;
}

span.info {
  display: block;
  font-size: 14px;
}

/* SECTION PROJECTS */
.section-projects {
  position: relative;
  background: url("../img/workspace.jpg") no-repeat center center;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.section-projects-inner {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 900px;
  padding: 5rem 0.5rem;
}

/* LANGUAGE SELECT FIELD */
#language {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-select {
  position: relative;
  font-size: 14px;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: var(--primary-color);
  height: 30px;
  border-radius: 2px;
}

.select-selected.select-arrow-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 13px;
  right: 7px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  color: #ffffff;
  padding: 5px 7px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: var(--primary-color);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* BUTTON */
.btn {
  width: 180px;
  height: 40px;
  padding: 10px 25px;
  margin-bottom: 5px;
  border: 2px solid #333;
  border-radius: 2px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}

.btn.invert {
  border: 2px solid var(--light-bg-color-1);
  color: var(--light-bg-color-1);
}

.btn-bg-rotate {
  z-index: 2;
  transition: all 0.3s ease;
  overflow: hidden;
}

.btn-bg-rotate:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.btn-bg-rotate:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.15),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.12),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.15),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.13);
  color: #fff;
}

.btn-bg-rotate.invert:hover {
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.15),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.12),
    inset -4px -4px 6px 0 rgba(0, 0, 0, 0.15),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.13);
  color: #333;
}

.btn-bg-rotate:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  background: #333;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.15),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.12),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.15),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.13);
}

.btn-bg-rotate.invert:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  background: #f2f2f2;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.15),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.12),
    inset -4px -4px 6px 0 rgba(0, 0, 0, 0.15),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.13);
}

/* MOUSE SCROLL ICON */
.scrolldown-wrapper {
  position: fixed;
  bottom: 10px;
  left: 50%;
  background-color: transparent;
  display: flex;
  height: 80px;
  width: 50px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: hidden;
  transform: translateX(-50%);
  opacity: 1;
  transition: all 1s linear;
}

.scrolldown-wrapper.fade-out {
  opacity: 0;
}

.scrolldown-wrapper.fade-out.hide {
  display: none;
}

.scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10 - 1px) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse 500ms ease infinite alternate 250ms;
}

@keyframes pulse {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

/* CAROUSEL */
.carousel-wrapper {
  overflow: hidden;
  width: 100%;
  margin: auto;
}

.carousel-wrapper * {
  box-sizing: border-box;
}

.carousel {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: flex;
}

.carousel-div {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
  /* border: 1px solid rgba(255, 255, 255, 0.1) */
}

.carousel-div.initial,
.carousel-div.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel-div.prev,
.carousel-div.next {
  z-index: 800;
}

.carousel-div.prev {
  transform: translateX(-100%);
}

.carousel-div.next {
  transform: translateX(100%);
}

.carousel-button--prev,
.carousel-button--next {
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  background-color: rgb(255, 255, 255, 0.5);
  background-color: transparent;
  transform: translateY(-50%);
  border-radius: 2px;
  cursor: pointer;
  z-index: 1001;
  border: none;
}

.carousel-button--prev:hover,
.carousel-button--next:hover {
  background-color: rgb(255, 255, 255, 0.8);
  background-color: transparent;
}

.carousel-button--prev {
  left: 17px;
}

.carousel-button--next {
  right: 17px;
}

.carousel-button--prev::after,
.carousel-button--next::after {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 60%;
  border-right: 2px solid rgb(255, 255, 255, 0.5);
  border-bottom: 2px solid rgb(255, 255, 255, 0.5);
  transform: translate(-50%, -50%) rotate(135deg);
}

.carousel-button--prev:hover::after,
.carousel-button--next:hover::after {
  border-right: 2px solid var(--light-bg-color-1);
  border-bottom: 2px solid var(--light-bg-color-1);
}

.carousel-button--next::after {
  left: 40%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.slide-title {
  text-align: left;
  font-weight: lighter;
}

.slide-title .mute,
.slide-subtitle .mute {
  opacity: 0.5;
}

.slide-title .small,
.slide-subtitle .small {
  font-size: 80%;
}

.slide-subtitle {
  text-align: left;
}

/* SECTION SKILLS */
#skills {
  background-color: var(--light-bg-color-1);
}

.skills-list {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.skill {
  height: 175px;
  width: 125px;
  min-width: 125px;
  background: var(--light-bg-color-1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  margin: 10px;
}

div.skill.green {
  background: #008d00;
}

div.skill.yellow {
  background: #dcdc00;
}

div.skill.orange {
  background: #ffa500;
}

div.skill.red {
  background: #d50000;
}

.skill .icon {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #000;
}

.skill .icon svg {
  margin: 0 auto;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
  padding: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 1.1;
}

.skill .icon-txt {
  display: block;
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.skill .icon-txt.es6 {
  display: block;
  padding: 5px 10px 1px 10px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #008d00;
  background-color: #000;
}

/* SECTION CONTACT */
#contact {
  position: relative;
  background: url("../img/workspace.jpg") no-repeat center center;
  background-size: cover;
  color: var(--light-bg-color-1);
}

#contact .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

#contact .section-header {
  color: var(--light-bg-color-1);
}

.contacts {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contacts div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contacts div i {
  font-size: 75px;
  color: var(--light-bg-color-1);
  /* opacity: 0.5; */
}

.contacts div div {
  display: block;
  font-size: 20px;
  white-space: nowrap;
  min-width: 350px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
}

.contacts div div:hover {
  opacity: 0.8;
}

.contacts div div.revealed {
  opacity: 1 !important;
  cursor: default;
}

.contacts div div.revealed span {
  cursor: text;
}

.location {
  width: 100%;
  text-align: center;
  color: var(--light-bg-color-1);
  padding: 30px 15px;
  white-space: nowrap;
}